@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0, 0, 0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0.5rem 1rem rgba(0, 0, 0, .1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}
html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
    width: 1rem;    
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-thumb{
    background:var(--black);
    border-radius: 100px;
}
body{
    background: white;
}
 /* header-section starts here   */
 .header{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
.logo{
    font-size: 24px;
}
.logo a{
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
}
.logo i{
    color: var(--green);
    font-size: 25px;
}
.search-form{
    width: 450px;
    border: var(--border);
    border-radius: 5px;
    padding: 22px;
    height: 6vh;
    display: flex;
    align-items: center;

}
.search-form input{
    width: 100%; 
    color: var(--black);
    font-size:16px;
}
.search-form i{
    color: var(--black);
    font-size: 24px;
    transition:all .2s linear;

}
.search-form i:hover{
    color: var(--green);
}
.icons a{
    cursor: pointer;
    font-size: 25px;
    color: var(--black);
    padding: 5px;
    transition: all .2s ease-in-out;
}
.icons a:hover{
    color: var(--green);
}
.icons a:nth-child(1){
    display: none;
}
 /* header-section ends here   */
.signup-form{
    position: absolute;
    top: 12vh;
    right:15vh;
    width: 25%;
    padding: 20px;
    border: var(--border);
    background: #eee;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top right;
    transition: all .2s linear;
    box-shadow: rgba(197, 107, 107, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.signup-form.active{

    transform: scale(1);

}
.signup-form h4{
    color: var(--black);
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 7px;
    border-bottom:  2px solid green;
}
.username span{
    color: var(--black);
    font-size: 19px;
    margin-bottom:8px;
}
.username input{
    color: var(--black);
    border: var(--border);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}
.password span{
    color: var(--black);
    font-size: 19px;
    margin-bottom:5px;

}
.password input{
    color: var(--black);
    border: var(--border);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}
.checkbox{
    color: var(--black);
    margin: 6px 0px;
}
.signin-btn{
    padding: 8px 10px;
    border-radius: 25px;
    width: 100%;
    background: var(--black);
    color: var(--green);
    margin: 6px 0px 10px 0px;
    transition: all .2s linear;
}
.signin-btn:hover{
    color: var(--black);
    background:var(--green);
}
.forget{
    padding: 0;
    color:var(--black);
    font-size: 14px;
}
.forget a{
    color: var(--green);
}
.create{
    font-size: 14px;
    padding: 0;
    margin: -13px 0px;
    padding-bottom: 20px;
    color: var(--black);
}
.create a{
    color: var(--green);
}









@media screen and (max-width:1024px){
    .search-form{
        position: absolute;
        top: 12vh;
        right: 20vh;
        width: 50%;
        transform: scale(0);
        transform-origin:top right;
        transition:all .2s ease;
    }
    .search-form.active{  
        transform: scale(1);
    }
    .icons a{
        display: inline-block;
    }
    .icons a:nth-child(1){
        display: inline-block;
    }
    .signup-form{
        right:20vh;
        width: 33%;
    }
}
@media screen and (max-width:576px){
    .signup-form{
        right:5vh;
        width: 80%;
    }
    .search-form{
        right:5vh;
        width: 80%;

    }

    
}